:global {
  html, body {
    margin: 0;
    padding: 0;
  }
}


%cell {
  position: relative;
  min-width: 100px;
  vertical-align: middle !important;
  font-family: Arial, sans-serif;
  box-sizing: border-box;

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    box-sizing: border-box;
  }

  //span {
  //  color: #898989;
  //}
}

.headerCell {
  @extend %cell;
  padding: 3px 10px !important;

  span {
    text-align: center;
    font-size: 10px;
    font-weight: 600;
  }
}

.cell {
  @extend %cell;
  padding: 5px 10px !important;

  span {
    font-size: 10px;
    text-align: right;
  }
}

%button {
  position: fixed;
  right: 20px;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: none;
  box-shadow: 1px 1px 7px rgba(0,0,0,.3);
  color: #fff;
  cursor: pointer;
  outline: none;
  transition: transform .15s ease-out;

  &:hover {
    $size: 1.1;

    transform: scale3d($size,$size,$size);
  }
}

.row {
  @extend %button;

  bottom: 20px;
  background-color: deepskyblue;
}

.supplier {
  @extend %button;

  bottom: 90px;
  background-color: orangered;
}